<article class="sidebar">
  <h1 class="sidebar-title"></h1>
  <p class="sidebar-body"></p>
  <div class="pixgrid clearfix">
        <img src="https://www.nationalgeographic.com/content/dam/travel/Guide-Pages/europe/Iceland/iceland_NationalGeographic_2168279.jpg" alt="Iceland">
  </div>
</article>
