<div class="maincontent">
  <article class="article">
    <h1 class="article-title">Why go to Iceland?</h1>
      <p>Iceland's location on the top of the world also ensures that it is among the very best places on the planet to see the northern lights or aurora borealis. These spectacular celestial wonders are commonly seen in Iceland from September to mid-April and are one of the top reasons for visiting Iceland outside of the bright summer months. </p>
      <p>There are also great food, amazing glaciers, wonderful mountains and epic waterfalls! Even the capital is surrounded by a remarkable variety of peaks and a twenty-minute drive can take you away from the city and onto a hiking trail.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Additional Information for Iceland</h1>
    <p>If you want to read more about Iceland about guides and tips, check out <a href="https://www.tripadvisor.com/Attraction_Products-g189970-d2074306-Iceland_Guided_Tours-Reykjavik_Capital_Region.html&suppm=&gclid=Cj0KCQjwqsHWBRDsARIsALPWMEPYkUNChugg3L6i5pV4uR9bZ7M98-3Y-ee_h9psY9YP48gyC48yxUUaAqZvEALw_wcB&supsc=s&supap=1t4&supti=dsa-402918434871&supfi=%7Bfeeditem%7D&supdv=c&supai=244999926237&supag=49328992685&supnt=g">some guided tours on Trip Advisor</a>, <a href="https://livelifewithaview.com/">or check out this blog</a>.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Who should come?</h1>
    <ul>
      <li>Anybody interested in sightseeing, hiking and is willing to brave the cold</li>
      <li>Tourist, Travelers, Photographers and quite frankly, everyone!</li>
      <li>Those interested or are in need of a getaway vacation</li>
    </ul>
  </article><!-- article -->
</div>
