<article class="sidebar">
  <h1 class="sidebar-title">Who should come?</h1>
  <ul class="sidebar-body">
    <li>Anybody interested in sightseeing, hiking and is willing to brave the cold</li>
    <li>Tourist, Travelers, Photographers and quite frankly, everyone!</li>
    <li>Those interested or are in need of a getaway vacation</li>
  </ul>
</article><!-- article -->
