<header>
  <div class="jumbotron .d-sm-hide .d-md-block"></div><!-- jumbotron for background image-->
  <nav class="navbar navbar-expand-lg navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle collapsed navbar-right ml-auto" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a class="navbar-brand" href="/">Welcome to Iceland</a>
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="padding-right: 10">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
      </div>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav navbar-right ml-auto">
          <li style="padding-right: 2"><a href="/">Home</a></li>
          <li style="padding-left: 10"><a href="/highlights" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Highlights <span class="caret"><span></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="/highlights">All Highlights</a></li>
              <li role="separator" class="divider"></li>
              <% allHighlights.forEach(function(item) { %>
                <li><a href="/highlights/<%= item.id %>"><%= item.site %></a></li>
                <% }); %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
